:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --bd-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  /* --new-lh: 1.25;
  --typical-lh: var(--new-lh); */
  --transition: 200ms linear;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.footer-container, .test-link, .barbers-soc-link, .soc__list, .header__container, .check-text span, .check-text, .modal-close, .pre-title {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  gap: 20px;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--color-dark {
  color: #303030;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color var(--transition), color var(--transition);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.454);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 200ms linear, border-radius 200ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
  border-radius: 50%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #999999;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 3px;
  font-size: 14px;
  color: #303030;
  padding-left: 30px;
  outline: transparent;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-size: 12px;
  color: teal;
}
.modal-input:-ms-input-placeholder {
  font-size: 12px;
  color: teal;
}
.modal-input::placeholder {
  font-size: 12px;
  color: teal;
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: hwb(120 0% 50%/0.302);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: hwb(120 0% 50%/0.302);
}
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: hwb(120 0% 50%/0.302);
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(128, 28, 0, 0.302);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(128, 28, 0, 0.302);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 28, 0, 0.302);
}

.modal-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-label span,
.modal-label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 10px;
  resize: none;
}
.modal-text::-moz-placeholder {
  font-size: 12px;
  color: teal;
}
.modal-text:-ms-input-placeholder {
  font-size: 12px;
  color: teal;
}
.modal-text::placeholder {
  font-size: 12px;
  color: teal;
}

.check-text {
  position: relative;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 5px;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  background-color: #9da4bd;
  border-radius: 50px;
  margin-right: 7px;
  transition: background-color 250ms linear;
}

.check-text::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 250ms ease, background-color 250ms linear;
}

.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.input-check:checked + .check-text::before {
  background-color: rgb(158, 239, 158);
} */
/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 5px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../img/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation {
  margin-right: auto;
}

.header__logo {
  margin-right: 130px;
}

.menu {
  display: flex;
  gap: 30px;
}

/* .header-item:not(:last-child) {
  margin-right: 30px;
} */
.menu__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 200ms linear;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__btn {
  color: var(--first-btn-color);
  margin-left: 43px;
}

.hero__container {
  display: flex;
}

.hero__wrap {
  background-color: #726d6d;
  padding: 272px 100px 208px;
  flex-grow: 2;
  /* background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg); */
  background-image: var(--bd-gradient), url(../img/hero-bg.jpeg);
}

.soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.soc__list {
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}
.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero__pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
.hero__title::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(../img/about-img-2.jpeg);
  background-size: contain;
}
.hero__title::after {
  content: "";
  color: #ff6c00;
  font-size: 50px;
}
.hero__title:hover::before {
  color: aquamarine;
}

.hero__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

.about__container {
  display: flex;
  gap: 30px;
}

.about__wrap {
  max-width: 470px;
}

.picture-list {
  display: flex;
  gap: 30px;
}

.about__pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

.about__btn {
  color: var(--second-btn-color);
}

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  gap: 30px;
}

.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.prices-item::after {
  content: "";
  height: 1px;
  width: 100px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}
.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  color: var(--first-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.benefits-continer {
  display: flex;
  padding-left: 115px;
  padding-right: 85px;
  gap: 130px;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
  text-align: center;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  margin-top: 6px;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
  max-width: 430px;
}

.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  padding: 40px;
  background-color: rgba(255, 106, 0, 0.558);
  transform: translateY(100%);
  transition: transform 200ms linear;
  overflow: auto;
}
.barbers-item:hover .barbers-top-text {
  transform: translateY(0);
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 19px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
  justify-content: center;
  fill: #ffffff;
}
.barbers-soc-link:hover {
  background-color: rgb(28, 0, 128);
  fill: aquamarine;
}

/* .barbers-soc-link:hover {
  background-color: rgb(28, 0, 128);
}

.barbers-soc-link:hover .barbers-soc-icon {
  fill: aquamarine;
} */
.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.test-link {
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  border-radius: 4px;
  justify-content: center;
  color: gray;
}
.test-link:hover {
  border-color: rgb(239, 24, 24);
  color: rgb(239, 24, 24);
}

.test-icon {
  fill: currentColor;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

.contact-wrap {
  background-color: #303030;
}
.contact-wrap .container {
  display: flex;
  gap: 30px;
}

.online {
  padding-top: 130px;
  width: calc((100% - 30px) / 2);
}

.online-title {
  color: var(--first-title-color);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  width: calc((100% - 30px) / 2);
  padding-left: 100px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-item:first-child > .link {
  font-weight: 700;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */